<h1>Criar Produto</h1>

<form action="/create" method="post">
    <div class="form-control">
        <label for="name">Nome do Produto: </label>
        <input type="text" name="name" placeholder="Digite o nome do produto">
    </div>

    <div class="form-control">
        <label for="price">Preço: </label>
        <input type="text" name="price" placeholder="Digite o preço">
    </div>

    <div class="form-control">
        <label for="name">Nome do Produto</label>
        <input type="text" name="name" placeholder="Digite o nome do produto">
    </div>
</form>